  <!doctype html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      {% load static %}
      <meta name="description" content="Personal Webiste" />
      <meta name="title" property="og:title" content="Portfolio" />
      <meta property="og:type" content="Website" />
      <meta name="image" property="og:image" content="{% static 'img/hand.png' %}" />
      <meta property='og:image' content="{% static 'img/hand.png' %}"/>
      <meta name="description" property="og:description" content="Personal Website" /><meta name="author" content="Gleb Kharlamov" />
      <!-- <link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">   -->
      <link href="/static/style.css" type="text/css" rel="stylesheet">  
      <title>Home</title>
    </head>
    <body>
      <!--Header-->
      <header class="jumbotron override">
        <div>
          <audio id="audio">
            <source src="{% static 'sounds/mm.mp3' %}" type="audio/mpeg">
            </audio>
            <button id="playPauseBTN" onclick="playPause()">Play &#127911;</button>
            <button id="stopBTN" onclick="stop()">Stop &#128162;</button>
          </div>
          <h1>Gleb Kharlamov</h1>
          <p>Personal webiste</p>
        </header>
        <!--Navigation panel-->
        <nav id="nav" class="navbar navbar-expand-sm sticky-top">
          <a id="face" class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/face4.png' %}" alt="logo" width="30" height="35"></a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recommendations' %}">Certificates</a>
            </li>
          </ul>
        </nav>  

          {% block content %}
          {% endblock %}

        <!--Footer-->
        <footer>
          <div class="jumbotron text-center footer">
            <p>Gleb Kharlamov</p>
          </div>
        </footer> 

        <button onclick="topFunction()" id="myBtn" title="Go to top"><div>&#8657;<div></button>


<!--         <script src="{% static 'js/angryface.js' %}"></script> -->

        <script src="/static/js/angryface.js"></script>

        <script src="/static/js/rec.js"></script>

        <script src="/static/js/rec2.js"></script>

        <script src="/static/js/rec3.js"></script>

        <script src="/static/js/scrollbutton.js"></script>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      </body>
      </html>


      <!-- elements used and adapted in the above page from https://getbootstrap.com/ --> 