{% extends 'base.html' %}


{% block content %}
{% load static %}
<!--Introduction section-->
<div class="container">
  <div class="row">
    <div class="col"><h1 class="welcome">Welcome!</h1></div>
  </div>
  <div class="row">
    <div class="col overridep">
      <p class="welcomePar">Thank you for visiting the website.</br> My name is Gleb Kharlamov, and this is my portfolio. Here you can see my qualifications and projects. In addition, photos, videos and hobbies are also presented. So you can know me a bit better. I just finished my MSc in IT at the University of Aberdeen and looking forward to work as a junior developer. I am passioned about the web development and worked on numerous projects during my studies. Made a banch of Java, Python and C++ applications. Moreover, I am keen on game development. A few games made during my free time can be seen on the Projects page. This website itself can be considered as one of the projects, since it built from a scratch with various technologies. In the future, more works will be added to the website.</br>Enjoy!</p>
    </div>
  </div>
</div>

<!--Interactive table, Skills section-->
<div class="container accordmargin">
  <div class="row">
    <div class="col"><h1 class="overrideheader">Modules and Skills</h1></div>
  </div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          University of Aberdeen, MSc Information Technology modules:
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="gradesAberdeen">
          <ul class="accordTitles">
            <li>Project in IT</li>
            <li>Information Security</li>
            <li>Database Systems and Big Data</li>
            <li>Introduction to Programming (Python)</li>
            <li>Human Computer Interaction</li>
            <li>Fundamental of Software Project Management</li>
            <li>Web Development</li>
            <li>Advanced Programming (Python)</li>
            <li>Enterprise Software Development</li>
          </ul>
          <ul class="accordGrades">
            <li>--%</li>
            <li>A4</li>
            <li>B1</li>
            <li>A1</li>
            <li>A5</li>
            <li>B2</li>
            <li>A1</li>
            <li>A3</li>
            <li>B1</li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          City University, BSc Computer Science with Games Technology modules:
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div class="gradesCity">
          <ul class="accordTitles">
            <li>Mathematics for Computing</li>
            <li>Business Systems</li>
            <li>System Architecture</li>
            <li>Programming in Java</li>
            <li>Computation and Reasoning</li>
            <li>Software Engineering</li>
            <li>Team Project</li>
            <li>Networks and Operating Systems</li>
            <li>Object-Oriented Analysis and Design </li>
            <li>Programming in C++</li>
            <li>Professional Development in IT</li>
            <li>Games Technology</li>
            <li>Data Structure and Algorithms</li>
            <li>Advanced Games Technology</li>
            <li>Computer Vision</li>
            <li>Individual Project</li>
            <li>Computer Grpahics</li>
            <li>Human Computer Interaction</li>
            <li>Electronic Commerce</li>
          </ul>
          <ul class="accordGrades">
            <li>78.1%</li>
            <li>74.9%</li>
            <li>68.4%</li>
            <li>64.4%</li>
            <li>61.7%</li>
            <li>55.7%</li>
            <li>87.2%</li>
            <li>63.2%</li>
            <li>63.2%</li>
            <li>61.7%</li>
            <li>60.7%</li>
            <li>59.7%</li>
            <li>59.0%</li>
            <li>75.25%</li>
            <li>72%</li>
            <li>69.6%</li>
            <li>66.6%</li>
            <li>63.5%</li>
            <li>59.0%</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
           Additional Skills:
         </button>
       </h2>
       <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <div class="grades">
          <ul class="accordTitles">
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
          <ul class="accordTitles">
            <li>Git</li>
            <li>GitHub</li>
            <li>SQL</li>
            <li>Unity</li>
            <li>OpenGL</li>
            <li>Axure</li>
          </ul>
          <ul class="accordTitles">
            <li>Heroku</li>
            <li>Amazon S3</li>
            <li>Django</li>
            <li>Flask</li>
            <li>Visual Paradigm</li>
            <li>Microsoft Office</li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Gallery of images/ Bootsrap Carousel-->
<div class="container pt-3 my-3">
  <div class="row">
    <div class="col"><h1 class="overrideheader">Photos</h1></div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
     {% for i in images%}
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {%endif%}" aria-current="true" aria-label="Slide 1"></button>
     {% endfor %}
   </div>
   <div class="carousel-inner">
    {% for i in images%}
    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
      <img class="d-block w-100" src="{{i.image.url}}" alt="Second slide">
    </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}