<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/angryface.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!--Header-->
    <header class="jumbotron override">
        <h1>Gleb Kharlamov</h1>
        <p>Personal webiste</p> 
    </header>
    <!--Navigation panel-->
    <nav class="navbar navbar-expand-sm sticky-top nav">
      <a id="face" class="navbar-brand" href="#"><img src="img/face4.png" alt="logo" width="30" height="35"></a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chat.html">Chat</a>
        </li>
      </ul>
    </nav>

<!--Introduction section-->
    <div class="container pt-3 my-3">
        <div class="row">
            <div class="col"><h1 class="text-center">Welcome!</h1></div>
        </div>
        <div class="row">
            <div class="col overridep">
                <p class="text-center">Hi, my name is Gleb, I am a MSc student in the University of Aberdeen and this is my website. It contains of three pages. 
                The Home page provides information about me. So you can know me a little better.
                The Development page gives details about the creation of the website. The Chat page allows to communicate with other users.</p>
            </div>
        </div>
    </div>

<!--Interactive table, Skills section-->
    <div class="container accordmargin">
        <div class="row">
            <div class="col"><h1 class="text-center" style="font-family: 'Courier New', Courier, monospace;">Modules and Skills</h1></div>
        </div>
        <div class="row">
            <div class="col accord">
                <div id="accordion">

                    <div class="card">
                      <div class="card-header overridecardheader">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                          City University, BSc Computer Science with Games Technology modules:
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                          <ul>
                              <li>Mathematics for Computing</li>
                              <li>Business Systems</li>
                              <li>System Architecture</li>
                              <li>Programming in Java</li>
                              <li>Computation and Reasoning</li>
                              <li>Software Engineering</li>
                              <li>Networks and Operating Systems</li>
                              <li>Object-Oriented Analysis and Design </li>
                              <li>Programming in C++</li>
                              <li>Professional Development in IT</li>
                              <li>Games Technology</li>
                              <li>Data Structure and Algorithms</li>
                              <li>Advanced Games Technology</li>
                              <li>Computer Vision</li>
                              <li>Computer Grpahics</li>
                              <li>Human Computer Interaction</li>
                              <li>Electronic Commerce</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  
                    <div class="card">
                      <div class="card-header overridecardheader">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                          University of Aberdeen, MSc Information Technology modules:
                        </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>Information Security</li>
                                <li>Database Systems and Big Data</li>
                                <li>Introduction to Programming(Python)</li>
                                <li>Human Computer Interaction</li>
                                <li>Fundamental of Software Project Management</li>
                                <li>Web Development</li>
                                <li>Advanced Programming(Python)</li>
                                <li>Enterprise Software Development</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  
                    <div class="card">
                      <div class="card-header overridecardheader">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                          Additional Skills:
                        </a>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                          <ul>
                              <li>Unity</li>
                              <li>OpenGL</li>
                              <li>Axure</li>
                              <li>Visual Paradigm</li>
                              <li>Microsoft Office</li>
                              <li>Adobe Photoshop</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

<!--Gallery of images/ Bootsrap Carousel-->
    <div class="container pt-3 my-3">
      <div class="row">
          <div class="col"><h1 class="text-center" style="font-family: 'Courier New', Courier, monospace;">Hobbies and Interests</h1></div>
      </div>
      <div class="row">
         
        <div id="gallery" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#gallery" data-slide-to="0" class="active"></li>
            <li data-target="#gallery" data-slide-to="1"></li>
            <li data-target="#gallery" data-slide-to="2"></li>
            <li data-target="#gallery" data-slide-to="3"></li>
            <li data-target="#gallery" data-slide-to="4"></li>
            <li data-target="#gallery" data-slide-to="5"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/sport2.jpg" alt="Snowboard" width="1100" height="800">
              <div class="carousel-caption">
                <h3>Sports</h3>
                <p>Snowboarding</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="img/IMG_2032 (1).jpg" alt="Golf1" width="1100" height="800">
              <div class="carousel-caption">
                <h3>Sports</h3>
                <p>Golf</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="img/IMG_4507.jpg" alt="Golf2" width="1100" height="800">
              <div class="carousel-caption">
                <h3>Sports</h3>
                <p>Golf</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="img/IMG_3936 (2).jpg" alt="Cyprus" width="1100" height="800">
              <div class="carousel-caption">
                <h3>Travelling</h3>
                <p>Cyprus</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="img/IMG_2437.JPG" alt="Amsterdam" width="1100" height="800">
              <div class="carousel-caption">
                <h3>Travelling</h3>
                <p>Amsterdam</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="img/IMG_2833.jpg" alt="Tattoos" width="1100" height="800">
              <div class="carousel-caption">
                <h3>Tattoos</h3>
                <p>A++Void</p>
              </div>   
            </div>
          </div>
          
          <a class="carousel-control-prev" href="#gallery" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#gallery" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
          
      </div>
  </div>

<!--Footer-->
  <footer>
    <div class="jumbotron text-center footer" style="margin-bottom:0">
      <p>Gleb Kharlamov</p>
    </div>
  </footer>
</body>
</html>