{% extends 'base.html' %}


{% block content %}
{% load static %}
<!--Introduction section-->
<div class="tentacle">
  <div class="container">
    <div class="row">
      <div class="col"><h1 class="welcome">Projects</h1></div>
    </div>
    <div class="p-5 mb-4 bg-light border rounded-3">
      <p class=" welcomePar overridep">On this page you can find my projects. It starts with the university works and leads to <a class="msclink" href="#games">games</a> with media resources. The content is regularly growing and changing to show my latests results.</p>
    </div>
  </div>

  <div class="container">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Portfolio. <span class="text-muted">The personal website.</span></h2>
        <p class="projectp">The website is built from scratch and it is an excellent example to demonstrate my skills in web development. The tools and technologies used during the development are listed below:</p>
        <div class="projectul">
          <ul>
            <li>Django (Python framework)</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
          </ul>
          <ul>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>Heroku (web hosting)</li>
            <li>Amazon S3 (web storage)</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/web2.jpg'%}" class="img-thumbnail" alt="web">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">MSc Project. <span class="text-muted">The summer project during the studies in Aberdeen.</span></h2>
        <p class="lead">The Greig-Duncan folk song collection - is a collection of tradition and local music from the northeast of Scotland collated by Gavin Greig and Rev. James Bruce Duncan. As part of the MSc in Information Technology at the University of Aberdeen I had the project of creating a web application prototype to house, view and retrieve songs from the collection. This digitised version of the collection would allow scholars and enthusiasts to view the resource more easily. Dr Thomas McKean of the University of Aberdeen was the product owner. He wanted to create this application to improve access to the collection. Dr McKean had a vision of an intuitive and clear application prototype that catered to two key things - viewing and searching the Song Collection. </p>
        <a class="msclink" href="https://msc-project.herokuapp.com/">The MSc Project's link</a>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'img/aberdeen.png'%}" class="img-thumbnail" alt="web">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <div class="container projectcontainer">
    <div class="row">
      <div id="games" class="col"><h1 class="overrideheader">Games</h1></div>
    </div>
    <div class="grid-container p-5 mb-4 bg-light border rounded-3">
    {% for game in games %}
    <div class="card">
      <img class="gameIng" src="{{game.gameImage.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title limitText"><strong>{{game.gameName}}</strong></h5>
        <p class="card-text limitText lead"> {{game.gameDescription}} </p>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

  <div class="container mediacontainer">    
    <h1 class="overrideheader">Media</h1>
    <p class="overridepprojects"> The media section contains links to the recordings of the Dota 2 tournament between British universities and the presentation of the game project on Global Game Jam 2016.</p>
    <div class="grid-container p-5 mb-4 bg-light border rounded-3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dA5Tn-T52CI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rYWyQLlQcAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    
  </div>
</div>
{% endblock %}