{% extends 'base.html' %}


{% block content %}
{% load static %}

<div>
	<div id="saw"></div>
	<div class="container">
		<div class="row">
			<div class="col"><h1 class="welcome">Recommendations</h1></div>
		</div>
		<div class="p-5 mb-4 bg-light border rounded-3">
			<p class=" welcomePar overridep">The section contains recomdendations from respectful people who had a chance to work with me. Also, this section has certificates from W3Schools.</p>
		</div>
	</div>

	<div class="container">
		<!-- START THE FEATURETTES -->
		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	</div><!-- /.container -->

	<div class="container">
		<div class="grid-container p-5 mb-4 bg-light border rounded-3">
			 <div class="card reccard">
      		 <img id="myImg" class="myImg" src="{% static 'img/rec.jpg' %}" alt="The recomdendation letter from Dr Scharlau">
		      <div class="card-body">
		        <h5 class="card-title limitText"><strong>University of Aberdeen</strong></h5>
		        <p class="card-text limitText lead"> The recommendation letter from Dr Scharla (Senior Lecturer)</p>
		      </div>
    		</div>
    		<div class="card reccard">
      		 <img id="myImg2" class="myImg" src="{% static 'img/html.jpg' %}" alt="The certificate from W3Schools">
		      <div class="card-body">
		        <h5 class="card-title limitText"><strong>Certified HTML Developer</strong></h5>
		        <p class="card-text limitText lead"> The certificate of complition from W3Schools in HTML</p>
		      </div>
    		</div>
    		<div class="card reccard">
      		 <img id="myImg3" class="myImg" src="{% static 'img/css.jpg' %}" alt="The certificate from W3Schools">
		      <div class="card-body">
		        <h5 class="card-title limitText"><strong>Certified CSS Developer</strong></h5>
		        <p class="card-text limitText lead"> The certificate of complition from W3Schools in CSS</p>
		      </div>
    		</div>
		</div>
	</div>
</div>


				<!-- The Modal -->
			<div id="myModal" class="modal">

				<!-- The Close Button -->
				<span class="close">&times;</span>

				<!-- Modal Content (The Image) -->
				<img class="modal-content" id="img01">

			</div>

			<div id="myModal2" class="modal">

				<!-- The Close Button -->
				<span class="close">&times;</span>

				<!-- Modal Content (The Image) -->
				<img class="modal-content" id="img02">

			</div>
			<div id="myModal3" class="modal">

				<!-- The Close Button -->
				<span class="close">&times;</span>

				<!-- Modal Content (The Image) -->
				<img class="modal-content" id="img03">

			</div>
	{% endblock %}
